/* Generales */
:root {
  --colorFondo: rgb(0, 61, 96);
  --colorTextoRegistro: rgb(0, 28, 44);
}
html {
  font-size: 62%;
}


/******* INDEX *******/
/* Se ocupa en los logins*/
body.login {
  background-image: url(../img/fondo02.jpg);

  /* Ocupan todo la pantalla (para principales navegadores */
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;

  background-repeat: no-repeat; /* Evita que se repita la imagen */
  background-attachment: fixed;
  background-position: center; /* Centrado al momento de escalar */

  /* Escalamiento proporcional */
  width: 100%;
  min-height: 110vh;
  height: auto;

  /* Posicionamiento */
  position: fixed;
  top: 0;
  left: 0;
}

/* Aplica el filtro azul al fondo*/
body.login::before {
  content: "";
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(31, 61, 72, 0.45);
  opacity: 0.8;
}

/* Centra el contenido */
div.container-index {
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  max-height: 45vh;
  max-width: 100vw;
}

/* Logo del index */
div.imageLogo {
  margin: 25vh 0 0 0;
}

h2.sublogo {
  position: relative;
  color: #ffffff;
  font-size: 2.2rem;
  margin: 1rem 0 2.5rem 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 2.8rem;
}

div.grid-index {
  display: grid;
  gap: 7rem;
  margin: auto;
  grid-template-columns: repeat(2, 1fr);
  width: 80rem;
}

a.button-index {
  border-radius: 2rem;
  background: linear-gradient(
          90deg,
          rgba(2, 0, 36, 1) 0%,
          rgba(0, 153, 184, 1) 0%,
          #003d60 100%
  );
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  padding: 5rem;
  font-size: 4rem;
  margin: 2rem 5rem;
}

/****** CANDIDATO *******/
div.logo-candidato {
  position: absolute;

  margin: 3rem 0 0 6rem;
  max-width: 120rem;
}

div.imageLogo-candidato {
  margin: 2rem 0 0 0;
}

aside.RegCandidato {
  background-color: var(--colorFondo);
  position: relative;
  float: right;
  height: 100vh;
  width: 40vw;
}

/* Especificaciones del icono de flecha */
div.headArrow {
  padding-top: 4rem;
  margin-left: 4rem;
}
a.arrow {
  font-size: 5rem;
  color: var(--colorTextoRegistro);
  text-decoration: none;
}

/* Área para el texto*/
div.container-text {
  margin: 12vh 0 0 5vw;
}

/* Títulos del área y el subtitulo */
h1.login-head {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 6vh;
  color: #ffffff;
  margin: 1vh 0;
}

form.login-form {
  margin-bottom: 3rem;
}

/* Área de las entradas */
div.input-text-area {
  padding: 2.5rem 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

/* Etiqueta para el subtitulo y los inputs*/
.login-tag {
  color: rgba(255, 255, 255, 0.8);
  font-size: 2vh;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 2.8rem;
}

/* Olvidaste... */
a.pswdForget {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 2.8rem;
  padding: 1rem 12.5rem 2rem 12.5rem
}

/* Inputs y submit */
input.input-login {
  width: 30vw;
  padding: 17px 20px;
  margin: 4px 0;
  box-sizing: border-box;
  border: 0.1rem solid #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.4s;
  outline: none;
  border-radius: 0.7rem;
  background: transparent;
  font-size: 3vh;
  color: #ffffff;
}

input.input-form::placeholder {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  color: #ffffff;
}

input.input-form:focus {
  background-color: #ffffff;
  border: 0.1rem solid #d7d7d7;
  color: black;
}

input.submit-login {
  background-color: #ffffff;
  color: black;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  cursor: pointer;
  margin-top: 2rem;
}

/* Botón de registrarse*/
a.btn-login {
  -webkit-appearance: button;
  overflow: visible;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  display: inline-block;
  -webkit-rtl-ordering: logical;
  font: 400 13.3333px Arial;
  background-color: #ffffff;
  color: black;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0.7rem;
  width: 27vw;
  padding: 17px 20px;
  text-decoration: none;
}

/********* REGISTRO *********/
aside.RegRegistro {
  background-color: var(--colorFondo);
  position: relative;
  float: right;
  height: 100vh;
  width: 65vw;
}

div.grid-informacion {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* width: 20vw; */
  margin-top: 2vh;
}

h1.registro-head {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 6vh;
  color: #ffffff;
  margin: 1vh 0;
}

div.container-registro {
  margin: 1vh 0 0 5vw;
}

div.input-text-area-registro {
  padding: 1vh 0 0 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

input.registro-form {
  width: 26vw;
  height: 8vh;
}

div.btn-regCandidato {
  text-align: center;
}